*{margin: 0;padding: 0;}
:root{
  --txt-color:#4d4d4d;
  --bg-color:#f2f2f2;
}
body{
    width: 100%;
    overflow: hidden;
    cursor: none;
}
canvas{
	  width: 100%;
	  position: absolute;
	  top: 0;
	  z-index: 0;
  }
// main settings
.demo-2 {
	font-family: 'Josefin Sans', sans-serif;
	--color-link: #8958b1;
	--color-link-hover: #fff;
	--color-info: #000;
}
/* Fade effect */
 .js body {
	opacity: 0;
 	transition: opacity 0.3s;
 }

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-text);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}
.info {
	margin: 0;
}
a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

button:focus {
	outline: none;
}